header,footer,article,aside,hgroup,div,nav,body,img,p,ul,li{
	margin: 0;
	padding: 0;
	border: 0;
}
body{
	background: #ffffff;
}
a{
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}

a:visited {
	text-decoration: none;
}
a:active {
	text-decoration: underline;
}